.image-editor {
	display: inline-flex;
	flex-direction: column;

	&__editors-actions {
		margin-top: 1rem;
	}

	&__editors {
		display: flex;
		align-items: center;
	}

	&__scale {
		flex: 1;

		input {
			padding: 0;
		}
	}

	&__rotate {
		margin-left: 1rem;
		width: 1rem;
		height: 1rem;
	}

	&__actions {
		display: flex;
		justify-content: center;
		margin-top: 0.5rem;
	}

	&__button {
		&:nth-of-type(1) {
			margin-right: 1rem;
		}
	}
}
