.main-navigation {
	display: flex;
	background-color: @menuBackgroundColor;

	&__header {
		position: sticky;
		top: 0;
		z-index: @navbarZIndex;
	}

	&__item {
		flex: 1;
		text-align: center;
		padding: 1rem 0;
		outline: none;
		white-space: nowrap;
		transition: 0.3s;

		&:active,
		&.active,
		&:focus,
		&:hover {
			.main-navigation__item-svg {
				fill: @accentColor;
			}
		}

		&:focus,
		&:hover {
			background-color: @linkMenuHoverBackgroundColor;
		}

		&_message {
			position: relative;
		}

		&_sign-up {
			margin-left: auto;
		}

		&_logout {
			cursor: pointer;
			margin-left: auto;
		}
	}

	&__item-svg {
		fill: @linkColor;
	}

	&__unviewed-messages-count {
		position: absolute;
		top: 15%;
		left: 55%;
		padding: 0 0.3rem;
		font-size: 0.7rem;
		font-weight: 700;
		border-radius: 0.4rem;
		color: lighten(@accentColor, 20%);
		text-shadow: 0 0 0.7rem lighten(@accentColor, 20%);
		background-color: shade(@accentColor, 50%);
		border: 1px solid fade(@accentColor, 50%);
		box-shadow: 0 0 10px fade(@accentColor, 50%);
	}
}

@media screen and (min-width: 375px) {
	.main-navigation {
		&__item {
			flex: 0;
			padding: 1rem 1.2rem;
		}
	}
}
