.edit-user-profile-image-form {
	&__editor,
	&__image-actions {
		text-align: center;
	}

	&__avatar-iput {
		display: none;
	}

	&__actions {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	&__button {
		&:nth-of-type(1) {
			margin-right: 1rem;
		}
	}
}
