@import './UserItemFriendBadge.less';

.user-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem auto;
	padding: 1rem;
	word-break: break-word;
	word-wrap: break-word;

	border-radius: 0.5rem;
	box-shadow: @boxShadow;

	&__image-content {
		align-self: flex-start;
		display: flex;
		align-items: center;
	}

	&__image {
		padding: 0.3rem;
	}

	&__image-wrapper {
		position: relative;

		&_online::after {
			content: '';
			display: block;
			position: absolute;
			top: 15%;
			right: 2%;
			background-color: @accentColor;
			width: 0.7rem;
			height: 0.7rem;
			border-radius: 50%;
			border: 1px solid fade(@accentColor, 90%);
			box-shadow: 0 0 10px fade(@accentColor, 90%);
		}
	}

	&__image-wrapper,
	&__image,
	&__username-link {
		outline: none;
	}

	&__image,
	&__username-link {
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}

	&__image-wrapper {
		&:focus {
			.user-item__image {
				border: 1px solid fade(@accentColor, 90%);
				box-shadow: 0 0 10px fade(@accentColor, 90%);
			}
		}
	}

	&__image {
		padding: 0.2rem;

		&:hover {
			border: 1px solid fade(@accentColor, 90%);
			box-shadow: 0 0 10px fade(@accentColor, 90%);
		}
	}

	&__username-link {
		color: darken(@accentColor, 10%);
		font-style: normal;

		&:hover,
		&:focus {
			color: @accentColor;
		}
	}

	&__content {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	&__actions {
		display: flex;
		width: 100%;
		margin-top: 1rem;
	}

	&__button {
		flex-grow: 1;
		justify-content: center;

		&:nth-child(2) {
			margin-left: 1rem;
		}
	}
}

@media screen and (min-width: 450px) {
	.user-item {
		flex-direction: row;

		&__actions {
			width: auto;
			flex-direction: column;
			margin-top: 0;
			margin-left: auto;
		}

		&__button {
			&:nth-child(2) {
				margin-left: 0;
				margin-top: 1rem;
			}
		}
	}
}

@media screen and (min-width: 602px) {
	.user-item {
		&__actions {
			flex-direction: row;
		}

		&__button {
			&:nth-child(2) {
				margin-left: 1rem;
				margin-top: 0;
			}
		}
	}
}
